@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background-color: #f3f4f6;
  color: #111827;

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* Dark mode */
html.dark {
  background-color: #030712;
  color: #f9fafb;
}

html.dark body {
  background-color: #030712;
  color: #f9fafb;
}